body {
    background-color: #121212;
    font-family: "Poppins", sans-serif; /* Set the font family for the entire page */
  }

  .authentication-container {
    display: flex;
    min-height: 100vh;
  }

  .login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: #fff; /* Change text color to white for the form */
  }

  .main-heading {
    margin-bottom: 4rem; /* Add some space below the heading */
  }

  .image-section {
    flex: 2;
    background: url("https://images.pexels.com/photos/8998292/pexels-photo-8998292.jpeg")
      no-repeat center center;
    background-size: cover;
  }

  /* Style the form elements with a darker appearance */
  .form-control {
    background: #333;
    border: 1px solid #444;
    color: #ddd;
  }

  /* Modify the
  checkbox and button styling for the dark theme /
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff; / Make sure the checkbox matches the theme
  }*/

  .custom-control-label {
    color: #fff; /* Set the label color to white */
  }

  .btn-primary {
    background: #007bff;
    border: none;
    font-weight: 600; /* Make the button text a bit bolder */
  }

  .btn-primary:hover {
    background: #0056b3; /* Darken the button a bit when hovered */
  }

  /* Adjust link colors for better visibility */
  a {
    color: #00bfff;
  }

  a:hover {
    color: #008cff;
    text-decoration: none; /* Optional: removes the underline on hover */
  }

  /* If you want to change the placeholder color / */
  ::placeholder {
    color: #bbb;
    opacity: 1;
  }

  /* Adjust input focus color to match the theme */
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* Responsive adjustments can be placed here */
  @media (max-width: 768px) {
    .authentication-container {
      flex-direction: column-reverse;
    }

    .login-section,
    .image-section {
      flex: none;
      width: 100%;
    }
  }